PVP=${PZ_PVP}
PVPLogToolChat=${PZ_PVPLogToolChat}
PVPLogToolFile=${PZ_PVPLogToolFile}
PauseEmpty=${PZ_PauseEmpty}
GlobalChat=${PZ_GlobalChat}
ChatStreams=${PZ_ChatStreams}
Open=${PZ_Open}
ServerWelcomeMessage=${PZ_ServerWelcomeMessage}
DisplayUserName=${PZ_DisplayUserName}
ShowFirstAndLastName=${PZ_ShowFirstAndLastName}
UsernameDisguises=${PZ_UsernameDisguises}
HideDisguisedUserName=${PZ_HideDisguisedUserName}
SwitchZombiesOwnershipEachUpdate=${PZ_SwitchZombiesOwnershipEachUpdate}
SpawnPoint=${PZ_SpawnPoint}
SafetySystem=${PZ_SafetySystem}
ShowSafety=${PZ_ShowSafety}
SafetyToggleTimer=${PZ_SafetyToggleTimer}
SafetyCooldownTimer=${PZ_SafetyCooldownTimer}
SafetyDisconnectDelay=${PZ_SafetyDisconnectDelay}
SpawnItems=${PZ_SpawnItems}
DefaultPort=${PZ_DefaultPort}
UDPPort=${PZ_UDPPort}
ResetID=${PZ_ResetID}
Mods=${PZ_Mods}
Map=${PZ_Map}
DoLuaChecksum=${PZ_DoLuaChecksum}
DenyLoginOnOverloadedServer=${PZ_DenyLoginOnOverloadedServer}
Public=${PZ_Public}
PublicName=${PZ_PublicName}
PublicDescription=${PZ_PublicDescription}
MaxPlayers=${PZ_MaxPlayers}
PingLimit=${PZ_PingLimit}
SafehousePreventsLootRespawn=${PZ_SafehousePreventsLootRespawn}
DropOffWhiteListAfterDeath=${PZ_DropOffWhiteListAfterDeath}
NoFire=${PZ_NoFire}
AnnounceDeath=${PZ_AnnounceDeath}
AnnounceAnimalDeath=${PZ_AnnounceAnimalDeath}
SaveWorldEveryMinutes=${PZ_SaveWorldEveryMinutes}
PlayerSafehouse=${PZ_PlayerSafehouse}
AdminSafehouse=${PZ_AdminSafehouse}
SafehouseAllowTrepass=${PZ_SafehouseAllowTrepass}
SafehouseAllowFire=${PZ_SafehouseAllowFire}
SafehouseAllowLoot=${PZ_SafehouseAllowLoot}
SafehouseAllowRespawn=${PZ_SafehouseAllowRespawn}
SafehouseDaySurvivedToClaim=${PZ_SafehouseDaySurvivedToClaim}
SafeHouseRemovalTime=${PZ_SafeHouseRemovalTime}
SafehouseAllowNonResidential=${PZ_SafehouseAllowNonResidential}
SafehouseDisableDisguises=${PZ_SafehouseDisableDisguises}
MaxSafezoneSize=${PZ_MaxSafezoneSize}
AllowDestructionBySledgehammer=${PZ_AllowDestructionBySledgehammer}
SledgehammerOnlyInSafehouse=${PZ_SledgehammerOnlyInSafehouse}
War=${PZ_War}
WarStartDelay=${PZ_WarStartDelay}
WarDuration=${PZ_WarDuration}
WarSafehouseHitPoints=${PZ_WarSafehouseHitPoints}
ServerPlayerID=${PZ_ServerPlayerID}
RCONPort=${PZ_RCONPort}
RCONPassword=${PZ_RCONPassword}
DiscordEnable=${PZ_DiscordEnable}
DiscordToken=${PZ_DiscordToken}
DiscordChatChannel=${PZ_DiscordChatChannel}
DiscordLogChannel=${PZ_DiscordLogChannel}
DiscordCommandChannel=${PZ_DiscordCommandChannel}
WebhookAddress=${PZ_WebhookAddress}
Password=${PZ_Password}
MaxAccountsPerUser=${PZ_MaxAccountsPerUser}
AllowCoop=${PZ_AllowCoop}
SleepAllowed=${PZ_SleepAllowed}
SleepNeeded=${PZ_SleepNeeded}
KnockedDownAllowed=${PZ_KnockedDownAllowed}
SneakModeHideFromOtherPlayers=${PZ_SneakModeHideFromOtherPlayers}
UltraSpeedDoesnotAffectToAnimals=${PZ_UltraSpeedDoesnotAffectToAnimals}
WorkshopItems=${PZ_WorkshopItems}
SteamScoreboard=${PZ_SteamScoreboard}
SteamVAC=${PZ_SteamVAC}
UPnP=${PZ_UPnP}
VoiceEnable=${PZ_VoiceEnable}
VoiceMinDistance=${PZ_VoiceMinDistance}
VoiceMaxDistance=${PZ_VoiceMaxDistance}
Voice3D=${PZ_Voice3D}
SpeedLimit=${PZ_SpeedLimit}
LoginQueueEnabled=${PZ_LoginQueueEnabled}
LoginQueueConnectTimeout=${PZ_LoginQueueConnectTimeout}
server_browser_announced_ip=${PZ_server_browser_announced_ip}
PlayerRespawnWithSelf=${PZ_PlayerRespawnWithSelf}
PlayerRespawnWithOther=${PZ_PlayerRespawnWithOther}
FastForwardMultiplier=${PZ_FastForwardMultiplier}
DisableSafehouseWhenOwnerConnected=${PZ_DisableSafehouseWhenOwnerConnected}
Faction=${PZ_Faction}
FactionDaySurvivedToCreate=${PZ_FactionDaySurvivedToCreate}
FactionPlayersRequiredForTag=${PZ_FactionPlayersRequiredForTag}
DisableRadioStaff=${PZ_DisableRadioStaff}
DisableRadioAdmin=${PZ_DisableRadioAdmin}
DisableRadioGM=${PZ_DisableRadioGM}
DisableRadioOverseer=${PZ_DisableRadioOverseer}
DisableRadioModerator=${PZ_DisableRadioModerator}
DisableRadioInvisible=${PZ_DisableRadioInvisible}
ClientCommandFilter=${PZ_ClientCommandFilter}
ClientActionLogs=${PZ_ClientActionLogs}
PerkLogs=${PZ_PerkLogs}
ItemNumbersLimitPerContainer=${PZ_ItemNumbersLimitPerContainer}
BloodSplatLifespanDays=${PZ_BloodSplatLifespanDays}
AllowNonAsciiUsername=${PZ_AllowNonAsciiUsername}
BanKickGlobalSound=${PZ_BanKickGlobalSound}
RemovePlayerCorpsesOnCorpseRemoval=${PZ_RemovePlayerCorpsesOnCorpseRemoval}
TrashDeleteAll=${PZ_TrashDeleteAll}
PVPMeleeWhileHitReaction=${PZ_PVPMeleeWhileHitReaction}
MouseOverToSeeDisplayName=${PZ_MouseOverToSeeDisplayName}
HidePlayersBehindYou=${PZ_HidePlayersBehindYou}
PVPMeleeDamageModifier=${PZ_PVPMeleeDamageModifier}
PVPFirearmDamageModifier=${PZ_PVPFirearmDamageModifier}
CarEngineAttractionModifier=${PZ_CarEngineAttractionModifier}
PlayerBumpPlayer=${PZ_PlayerBumpPlayer}
MapRemotePlayerVisibility=${PZ_MapRemotePlayerVisibility}
BackupsCount=${PZ_BackupsCount}
BackupsOnStart=${PZ_BackupsOnStart}
BackupsOnVersionChange=${PZ_BackupsOnVersionChange}
BackupsPeriod=${PZ_BackupsPeriod}
DisableVehicleTowing=${PZ_DisableVehicleTowing}
DisableTrailerTowing=${PZ_DisableTrailerTowing}
DisableBurntTowing=${PZ_DisableBurntTowing}
BadWordListFile=${PZ_BadWordListFile}
GoodWordListFile=${PZ_GoodWordListFile}
BadWordPolicy=${PZ_BadWordPolicy}
BadWordReplacement=${PZ_BadWordReplacement}
AntiCheatSafety=${PZ_AntiCheatSafety}
AntiCheatSpeed=${PZ_AntiCheatSpeed}
AntiCheatNoClip=${PZ_AntiCheatNoClip}
AntiCheatHit=${PZ_AntiCheatHit}
AntiCheatPacketException=${PZ_AntiCheatPacketException}
AntiCheatPermission=${PZ_AntiCheatPermission}
AntiCheatXP=${PZ_AntiCheatXP}
AntiCheatSafeHouse=${PZ_AntiCheatSafeHouse}
AntiCheatPlayer=${PZ_AntiCheatPlayer}
AntiCheatChecksum=${PZ_AntiCheatChecksum}
MultiplayerStatisticsPeriod=${PZ_MultiplayerStatisticsPeriod}
DisableScoreboard=${PZ_DisableScoreboard}
HideAdminsInPlayerList=${PZ_HideAdminsInPlayerList}
MaxPacketsPerSecond=${PZ_MaxPacketsPerSecond}
ShowCoordinates=${PZ_ShowCoordinates}
Seed=${PZ_Seed}
UsePhysicsHitReaction=${PZ_UsePhysicsHitReaction}
ChatMessageCharacterLimit=${PZ_ChatMessageCharacterLimit}
ChatMessageSlowModeTime=${PZ_ChatMessageSlowModeTime}
